/*.center-box{
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    width: 1000px;
    background-color: #190080;
    align-items: center;
    justify-content: center;
}
.center-item{
    display: flex;
    height: 100px;
    width: 100px;
    background-color: burlywood;
} */

#Coding-Dojo-Menu{
    display: flex;
    height: 100px;
    width: 1300px;
    background-color: #6495ed;
    color: white;
    justify-content: space-between;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
} 
ul li{
    display: inline;
    font-family: 'Montserrat', sans-serif;
    padding: 40px;
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-size: larger;
    font-weight: 900;
}
a{
    text-decoration: none;
    color: white;
    font-size: medium;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
}
img{
    display: flex;
    height: 75px;
    justify-content: flex-start
}
